.fundo{
    background-color: gainsboro;
}

.corAzul{
    background-color: lightblue;
}

.corLaranja{
    background-color: lightsalmon;
}

.corVermelho{
    color: red;
}

.corLilas{
    color: blueviolet;
}