.secao1{
    background-color: gray;
    height: 25vw;
    margin: 0 10vw;
    border-bottom: 1.5vw dashed black;
}

.secao2{
    background-color: lightblue;
    margin: 0 18.5vw;
    margin-bottom: 12%;
    padding-top: 4%;
    padding-bottom: 4%;
    border: 1vw solid blue;
}

.secao3{
    background-color: white;
    margin: auto;
    border: 0.6vw solid red;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}